.restaurant_img_container {
    float: left;
    width: 40%;
    height: 1000px;

}

.restaurant_content_container {
    float: left;
    width: 60%;
    height: 1000px;
    padding-left: 120px;
}

#restaurant_img {
    width: 100%;
    height: 500px;
}

#hotTitle {
    padding-right: 6px;
}

#levelTitle {
    padding-left: 55px;
    padding-right: 6px;
}


#review {
    margin-top: 10px;
    float: left;
}

.content { 
    float: left;
    text-align: left;
    color: black;
    font-size: 14px;
    
}

.name {
    float: left;
    text-align: left;
    color: black;
    font-size: 24px;
    font-weight:bold;
}

.tbzl .tb {
    float: left;
    padding-left: 8px;
    padding-top: 3px;
}

.scoringText {
    float: left;
    text-align: left;
    line-height: 42px;
    margin-left: 10px;
    color: black;
}

.clickAction {
    cursor: pointer;
}

table {
    clear:both;
}

.width-xs {
    width: 7.4rem!important;
    float:left;
}

.width-md {
    width: 12.7rem!important;
    float:left;
}

.progress span {
    background: #0ec610;
    height: 1.4em;
    text-align: center;
    color: gray;
    float:left;
    width: 0%;
}

.title {
    display: table-cell;
    vertical-align: inherit;
    color: black;
    float:left;
}

#commentText {
    width:400px; 
    height:200px;
    float: left;
    text-align: left;
}

#commentCmd {
    padding-top: 30px;
    float: left;
}

#statusText {
    text-decoration: blue;
}

input[type=file] {
    display: inline;
}
#commentBtn {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin-left: 57px;
}

#commentBtn:hover {
    background-color: rgb(27, 78, 218); /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
