.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.form-control {
  margin: auto;
  width: 26%;
}

@media (min-width:768px) {
  .navbar {
    height:50px;
  }
 }

/* #restaurantHelp {
  display: block;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.restaurant_list_img:hover {
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
}
h2 {
  text-shadow: 1px 1px 2px rgb(105, 29, 204), 0 0 25px rgb(0, 17, 255), 0 0 5px rgb(71, 89, 194);
  color: rgb(210, 205, 236);
}

p.profile {
  font-size: 2em;
}

.restaurant_list_img {
  transition: transform 0.25s ease;
  width: 256px;
  height: 160px;
  border-radius:8px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}